  .ant-tabs-tab {
    font-weight: bolder;
    color: rgb(13, 159, 226) !important;
    background-color:white !important;
  }
  .ant-tabs-tab-active {
    background-color:  rgb(13, 159, 226) !important;
  }
 .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white!important; 
 }
